In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("D:\\Python_work\\exercise_data\\drinks.csv")

In [19]:
#平均消耗的啤酒(beer)更多
average_beer = df.groupby('continent')['beer_servings'].mean()
max_beer_continent = average_beer.idxmax()
max_beer_value = average_beer.max()
print(f"平均消耗啤酒最多的大陆是: {max_beer_continent}, 平均消耗量为: {max_beer_value:.2f} 份/人\n")

平均消耗啤酒最多的大陆是: EU, 平均消耗量为: 193.78 份/人

In [13]:
#每个大陆的红酒消耗(wine_servings)的描述性统计值
df.groupby('continent')['wine_servings'].describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [15]:
alcohol_avg = df.groupby('continent')[['beer_servings', 'wine_servings', 'spirit_servings']].mean()
 
print("每个大陆每种酒类别的消耗平均值:")
print(alcohol_avg.to_string())

3. 每个大陆每种酒类别的消耗平均值:
           beer_servings  wine_servings  spirit_servings
continent
AF             61.471698      16.264151        16.339623
AS             37.045455       9.068182        60.840909
EU            193.777778     142.222222       132.555556
OC             89.687500      35.625000        58.437500
SA            175.083333      62.416667       114.750000

In [21]:
alcohol_median = df.groupby('continent')[['beer_servings', 'wine_servings', 'spirit_servings']].median()
 
print("4. 每个大陆每种酒类别的消耗中位数:")
print(alcohol_median.to_string())

4. 每个大陆每种酒类别的消耗中位数:
           beer_servings  wine_servings  spirit_servings
continent
AF                  32.0            2.0              3.0
AS                  17.5            1.0             16.0
EU                 219.0          128.0            122.0
OC                  52.5            8.5             37.0
SA                 162.5           12.0            108.5