In [17]:
import pandas as pd
data = {'Student_ID':[11,22,33,44,55],'Name':['A',None,'C','D','E'], 'Score':[None,77,88,99,98],'Grade':[1,3,2,1,3]}
df = pd.DataFrame(data)
# 保存为 CSV
df.to_csv('students.csv', index=False)  # index=False 表示不保存行索引

In [19]:
df_read = pd.read_csv('students.csv')
df.head(3)

   Student_ID  Name  Score  Grade
0          11     A    NaN      1
1          22  None   77.0      3
2          33     C   88.0      2

In [21]:
df_read['Score'] = df_read['Score'].fillna(df_read['Score'].mean())  # 将 None 替换为 0

In [23]:
df_read['Name'] = df_read['Name'].fillna('Unknown')

In [25]:
df_read.to_csv('students_cleaned.csv', index=False)  # index=False 表示不保存行索引